<robot name="blastoise" version="1.0">
  <joint name="gps_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.12000 -0.09000 0.00000"/>
    <parent link="base_link"/>
    <child link="gps_link"/>
  </joint>
  <joint name="imu_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.12000 -0.18000 0.00000"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>
  <joint name="front_right_thruster_joint" type="fixed">
    <origin rpy="1.57080 -0.00000 -2.35619" xyz="0.01287 0.26636 -0.28432"/>
    <parent link="right_hull_link"/>
    <child link="front_right_thruster_link"/>
  </joint>
  <joint name="front_right_propeller_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 -0.00000" xyz="-0.00037 0.00000 0.00529"/>
    <parent link="front_right_thruster_link"/>
    <child link="front_right_propeller_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="rear_right_thruster_joint" type="fixed">
    <origin rpy="1.57080 0.00000 -0.78540" xyz="0.01282 -0.26630 -0.28432"/>
    <parent link="right_hull_link"/>
    <child link="rear_right_thruster_link"/>
  </joint>
  <joint name="rear_right_propeller_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00037 0.00000 0.00529"/>
    <parent link="rear_right_thruster_link"/>
    <child link="rear_right_propeller_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="sensor_mount_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.27711 -0.01260"/>
    <parent link="base_link"/>
    <child link="sensor_mount_link"/>
  </joint>
  <joint name="front_camera_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.04990 0.13779"/>
    <parent link="sensor_mount_link"/>
    <child link="front_camera_link"/>
  </joint>
  <joint name="lidar_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.01270 0.29035"/>
    <parent link="sensor_mount_link"/>
    <child link="lidar_link"/>
  </joint>
  <joint name="left_hull_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.33020 0.00000 -0.08000"/>
    <parent link="base_link"/>
    <child link="left_hull_link"/>
  </joint>
  <joint name="front_left_thruster_joint" type="fixed">
    <origin rpy="1.57080 0.00000 2.35619" xyz="-0.01287 0.26637 -0.28232"/>
    <parent link="left_hull_link"/>
    <child link="front_left_thruster_link"/>
  </joint>
  <joint name="front_left_propeller_link" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00037 0.00000 0.00529"/>
    <parent link="front_left_thruster_link"/>
    <child link="front_left_propeller_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="rear_left_thruster_joint" type="fixed">
    <origin rpy="1.57080 -0.00000 0.78540" xyz="-0.01277 -0.26625 -0.28232"/>
    <parent link="left_hull_link"/>
    <child link="rear_left_thruster_link"/>
  </joint>
  <joint name="rear_left_propeller_link" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.00037 0.00000 0.00529"/>
    <parent link="rear_left_thruster_link"/>
    <child link="rear_left_propeller_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="water_pump_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.44955 0.10149"/>
    <parent link="left_hull_link"/>
    <child link="water_pump_link"/>
  </joint>
  <joint name="right_hull_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.33020 0.00000 -0.07800"/>
    <parent link="base_link"/>
    <child link="right_hull_link"/>
  </joint>
  <joint name="ball_dropper_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.53779 0.20800"/>
    <parent link="right_hull_link"/>
    <child link="ball_dropper_link"/>
  </joint>
  <link name="base_link">
    <collision name="cross_bar_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.01909"/>
      <geometry>
        <box size="0.43826 0.63446 0.02435"/>
      </geometry>
    </collision>
    <collision name="ee_box_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.06988"/>
      <geometry>
        <box size="0.43980 0.50929 0.17333"/>
      </geometry>
    </collision>
    <collision name="head_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.36901 0.00696"/>
      <geometry>
        <box size="0.18120 0.18120 0.18120"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00100" ixy="0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="3.00000"/>
    </inertial>
    <visual name="bullet_visual">
      <material name="Material.016"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.24219 -0.33878 0.08816"/>
      <geometry>
        <mesh filename="../meshes/stl/bullet.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
    <visual name="cross_bar_visual">
      <material name="Material.020"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00423 -0.13753 0.00871"/>
      <geometry>
        <mesh filename="../meshes/stl/cross_bar.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
    <visual name="ee_box_visual">
      <material name="Material.008"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.00358 -0.00221 0.07948"/>
      <geometry>
        <mesh filename="../meshes/stl/ee_box.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="gps_link"/>
  <link name="ball_dropper_link">
    <collision name="ball_dropper_collision">
      <origin rpy="-0.43633 0.00000 0.00000" xyz="0.00000 -0.20162 -0.06635"/>
      <geometry>
        <box size="0.09116 0.33205 0.35249"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00089" ixy="-0.00000" ixz="-0.00000" iyy="0.00052" iyz="0.00021" izz="0.00049"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.14922 -0.00072"/>
      <mass value="0.10000"/>
    </inertial>
    <visual name="ball_dropper_visual">
      <material name="Material.018"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00000 -0.12708 0.02154"/>
      <geometry>
        <mesh filename="../meshes/stl/ball_dropper.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_thruster_link">
    <inertial>
      <inertia ixx="0.00100" ixy="-0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <mass value="0.42700"/>
    </inertial>
    <visual name="front_right_thruster_visual">
      <material name="Material.011"/>
      <origin rpy="3.14159 -0.78540 3.14159" xyz="0.00000 0.00625 0.00009"/>
      <geometry>
        <mesh filename="../meshes/stl/front_right_thruster.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_propeller_link">
    <inertial>
      <inertia ixx="0.00000" ixy="0.00000" ixz="-0.00000" iyy="0.00000" iyz="-0.00000" izz="0.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00024 -0.00014 -0.00038"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="front_right_propeller_visual">
      <material name="Material.012"/>
      <origin rpy="3.14159 -0.78540 3.14159" xyz="0.00009 0.00000 0.00017"/>
      <geometry>
        <mesh filename="../meshes/stl/front_right_propeller.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="rear_right_thruster_link">
    <inertial>
      <inertia ixx="0.00100" ixy="0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
      <mass value="0.42700"/>
    </inertial>
    <visual name="rear_right_thruster_visual">
      <material name="Material.011"/>
      <origin rpy="-0.00000 -0.78540 0.00000" xyz="0.00005 0.00613 -0.00004"/>
      <geometry>
        <mesh filename="../meshes/stl/rear_right_thruster.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="rear_right_propeller_link">
    <inertial>
      <inertia ixx="0.00000" ixy="-0.00000" ixz="-0.00000" iyy="0.00000" iyz="0.00000" izz="0.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00019 -0.00027 -0.00043"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="rear_right_propeller_visual">
      <material name="Material.012"/>
      <origin rpy="-0.00000 -0.78540 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/rear_right_propeller.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="sensor_mount_link">
    <collision name="sensor_mount_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.15839"/>
      <geometry>
        <cylinder radius="0.07246" length="0.34194"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00100" ixy="0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.30000"/>
    </inertial>
  </link>
  <link name="front_camera_link">
    <inertial>
      <inertia ixx="0.00002" ixy="-0.00000" ixz="0.00000" iyy="0.00024" iyz="0.00000" izz="0.00025"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00058 0.00231 -0.00004"/>
      <mass value="0.10000"/>
    </inertial>
    <visual name="front_camera_visual">
      <material name="Material.005"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00056 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/front_camera.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="lidar_link">
    <inertial>
      <inertia ixx="0.00017" ixy="0.00000" ixz="0.00000" iyy="0.00014" iyz="-0.00003" izz="0.00016"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00004 -0.00010 -0.00111"/>
      <mass value="0.10000"/>
    </inertial>
    <visual name="lidar_visual">
      <material name="Material.003"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00019 -0.01946 -0.01764"/>
      <geometry>
        <mesh filename="../meshes/stl/lidar.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="imu_link"/>
  <link name="left_hull_link">
    <collision name="left_gun_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.55922 0.11671"/>
      <geometry>
        <box size="0.11514 0.38994 0.12329"/>
      </geometry>
    </collision>
    <collision name="left_hull_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.07237"/>
      <geometry>
        <mesh filename="../meshes/stl/left_hull_simplified.stl" scale="0.00100 0.00100 0.00081"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00100" ixy="0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <mass value="7.00000"/>
    </inertial>
    <visual name="left_hull_visual">
      <material name="Material.006"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00008 -0.04829 -0.16312"/>
      <geometry>
        <mesh filename="../meshes/stl/left_hull.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_thruster_link">
    <inertial>
      <inertia ixx="0.00100" ixy="-0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.42700"/>
    </inertial>
    <visual name="front_left_thruster_visual">
      <material name="Material.011"/>
      <origin rpy="-3.14159 0.78540 -3.14159" xyz="-0.00000 0.00626 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/front_left_thruster.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_propeller_link">
    <inertial>
      <inertia ixx="0.00000" ixy="-0.00000" ixz="0.00000" iyy="0.00000" iyz="-0.00000" izz="0.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00024 -0.00014 -0.00039"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="front_left_propeller_visual">
      <material name="Material.012"/>
      <origin rpy="3.14159 0.78540 -3.14159" xyz="-0.00005 0.00013 0.00005"/>
      <geometry>
        <mesh filename="../meshes/stl/front_left_propeller.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="rear_left_thruster_link">
    <inertial>
      <inertia ixx="0.00100" ixy="-0.00000" ixz="-0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <mass value="0.42700"/>
    </inertial>
    <visual name="rear_left_thruster_visual">
      <material name="Material.011"/>
      <origin rpy="-0.00000 0.78540 -0.00000" xyz="-0.00004 0.00612 0.00004"/>
      <geometry>
        <mesh filename="../meshes/stl/rear_left_thruster.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="rear_left_propeller_link">
    <inertial>
      <inertia ixx="0.00000" ixy="0.00000" ixz="0.00000" iyy="0.00000" iyz="0.00000" izz="0.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00019 -0.00027 -0.00043"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="rear_left_propeller_visual">
      <material name="Material.012"/>
      <origin rpy="-0.00000 0.78540 -0.00000" xyz="0.00004 -0.00013 0.00012"/>
      <geometry>
        <mesh filename="../meshes/stl/rear_left_propeller.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="water_pump_link">
    <inertial>
      <inertia ixx="0.00022" ixy="0.00000" ixz="-0.00000" iyy="0.00004" iyz="-0.00002" izz="0.00023"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00017 -0.02021 -0.00496"/>
      <mass value="0.10000"/>
    </inertial>
    <visual name="water_pump_visual">
      <material name="Material.010"/>
      <origin rpy="1.53589 0.00000 0.00000" xyz="0.00005 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/water_pump.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="right_hull_link">
    <collision name="right_gun_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.55922 0.11471"/>
      <geometry>
        <box size="0.11514 0.38994 0.12329"/>
      </geometry>
    </collision>
    <collision name="right_hull_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.07437"/>
      <geometry>
        <mesh filename="../meshes/stl/right_hull_simplified.stl" scale="0.00100 0.00100 0.00081"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00100" ixy="0.00000" ixz="0.00000" iyy="0.00100" iyz="0.00000" izz="0.00100"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="7.00000"/>
    </inertial>
    <visual name="right_hull_visual">
      <material name="Material.006"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00005 -0.04914 -0.16498"/>
      <geometry>
        <mesh filename="../meshes/stl/right_hull.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="Material.003">
    <color rgba="0.14902 0.14902 0.14902 1.00000"/>
  </material>
  <material name="Material.005">
    <color rgba="0.00784 0.00784 0.00784 1.00000"/>
  </material>
  <material name="Material.006">
    <color rgba="0.01569 0.01569 0.01569 1.00000"/>
  </material>
  <material name="Material.008">
    <color rgba="0.45882 0.45882 0.45882 1.00000"/>
  </material>
  <material name="Material.010">
    <color rgba="0.03922 0.03922 0.03922 1.00000"/>
  </material>
  <material name="Material.011">
    <color rgba="0.05098 0.05098 0.05098 1.00000"/>
  </material>
  <material name="Material.012">
    <color rgba="0.00000 0.20000 0.80000 1.00000"/>
  </material>
  <material name="Material.016">
    <color rgba="0.04314 0.04314 0.04314 1.00000"/>
  </material>
  <material name="Material.018">
    <color rgba="0.17647 0.17647 0.17647 1.00000"/>
  </material>
  <material name="Material.020">
    <color rgba="0.20784 0.20784 0.20784 1.00000"/>
  </material>
</robot>